#pointer_overlay{
    position: absolute;
    left: 50;
    right: 50;
    top: 50;
    bottom: 50;
    /* background-color: rgba(255, 0, 0, 0.5); */
}

#debug{
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    background-color: rgba(255, 0, 0, 0.5);
}