#pointer_overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.5);
}

#debug{

    
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    background-color: rgba(255, 0, 0, 0.5);
}